


<%= form_tag group_voting_vote_path(voting_id: @voting.id), method: :post, remote: true do %>
<div>
  <ol>
    <% @voting.options.each do |option| %>
      <div class="h5 row">
        <li class="mb-2">
          <%= option.value %>
          <%= radio_button_tag 'option[id]', option.id %>
        </li>
      </div>
    <% end %>
  </ol>
</div>
<%= submit_tag 'Vote', class: 'btn btn-primary' %>
<% end %>

<span>Всего проголосовало: <%= @voting.votes.count %></span>
