<div class="container-fluid centered bg-img">
  <div class="card shadow-sm p-3 pb-0 mt-4 mb-4" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title text-center">Edit profile</h5>
        <%= simple_form_for @user, as: :user, url: user_path(@user), data: { turbo: false } do |f| %>
          <div class="mb-3">
            <%= f.input :first_name %>
          </div> 
          <div class="mb-3">
            <%= f.input :last_name %>
          </div> 
          <div class="mb-3">
            <%= f.input :email %>
          </div> 
          <div class="mb-3">
            <%= f.input :password %>
          </div>
          <div class="mb-3">
            <%= f.input :password_confirmation%>
          </div>
          <div class="profile_avatar mb-3">
          <%= image_tag(@user.avatar_url) if @user.avatar? %>
          </div>
          <%= f.hidden_field :avatar_cache %> 
          <div class="mb-3">
            <%= f.label "Avatar" %>
          <div class="mb-3">  
            <%= f.file_field :avatar, class: "form-control form-control-sm"%>
          </div>
          <div class="mb-3 spread">
            <%= f.button :submit, "Confirm", class: 'btn btn-primary btn-floating' %>
            <%= f.button :submit, "< Back", formaction: my_profile_path, formmethod: "get",
                class: 'btn btn-sm btn-outline-secondary btn-floating' %>
          </div> 
        <% end %>
    </div>
  </div>
<div>
