<div class="container-fluid centered bg-img">
  <div class="card shadow-sm p-3 pb-0" style="width: 24rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Sign up</h5>
        <%= simple_form_for @user do |f| %>
          <div class="mb-3">
            <%= f.input :first_name %>
          </div> 
          <div class="mb-3">
            <%= f.input :last_name %>
          </div> 
          <div class="mb-3">
            <%= f.input :email %>
          </div> 
          <div class="mb-3">
            <%= f.input :password %>
          </div>
          <div class="mb-3">
            <%= f.input :password_confirmation %>
          </div> 
          <div class="mb-4">
            <%= f.label :avatar, "Avatar" %>
          <div class="mb-3 mt-2">  
            <%= f.file_field :avatar, class: "form-control form-control-sm"%>
          </div>   
          <%= f.hidden_field :type, value: "User" %>
          <div class="mb-3">
            <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-floating' %>
          </div> 
        <% end %>
    </div>
  </div>
<div>
