<div class="container-fluid centered bg-img"> 
  <div class="card shadow-sm p-3 pb-0" style="width: 48rem;">
    <div class="card-body">
      <div class="d-flex flex-row-reverse mb-2">
        <% if @group.owner != current_user%> 

          <% if @group.users.exclude?(current_user) %>
            <%= button_to group_join_group_path(@group), method: "create", class: 'btn btn-sm btn-primary' do %>
              <i class="fas fa-square-plus"></i>&nbsp;&nbsp;<%= "Join group" %>
            <% end %>
          <% else %>
            <%= button_to group_leave_group_path(@group), method: "delete", class: 'btn btn-sm btn-warning' do %>
              <i class="fas fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;<%= "Leave group" %>
            <% end %>
          <% end %>

        <% else %>

          <%= button_to group_path(@group), method: "delete", class: 'btn btn-sm btn-danger' do %>
            <i class="fas fa-trash"></i>&nbsp;&nbsp;<%= "Delete group" %>
          <% end %>

          <%= button_to edit_group_path(@group), method: "get", class: 'btn btn-sm btn-info me-md-2' do %>
            <i class="fas fa-edit"></i>&nbsp;&nbsp;<%= "Edit group" %>
          <% end %>          
        <% end %>
      </div>

      <h1><%= @group.title%></h1>

      <div class="mb-5 mt-3 h5">
        <%= @group.description  %>
      </div>

      <div class="row">

        <% if @group.owner == current_user%>
          <div class="col-4">
            <%= button_to new_group_ballot_path(@group), method: "get", class: 'btn btn-sm btn-warning' do %>
              <i class="fas fa-bullhorn"></i>&nbsp;&nbsp;<%= "Invite people" %>
            <% end %>
          </div>
        <% else %>
          <div class="col-4">
            <span>Group admin: <strong><%= @group.owner.first_name %>&nbsp;<%= @group.owner.last_name %></strong></span>
          </div>    
        <% end %>

        <div class="col-4">
          <%= button_to new_group_ballot_path(@group), method: "get", class: 'btn btn-sm btn-success' do %>
            <i class="fas fa-check-to-slot"></i>&nbsp;&nbsp;<%= "Create new ballot" %>
          <% end %>
        </div>
        <div class="col-4">
          <%= button_to new_group_rating_path(@group), method: "get", class: 'btn btn-sm btn-success' do %>
            <i class="fas fa-star"></i>&nbsp;&nbsp;<%= "Create new rating" %>
          <% end %>
        </div>

      </div>

      <hr>
      <div class="row">
        <div class="col-4">
          <div class="italic mx-3">Group members:</div> 
            <ul>
            <% @group.users.each do |user| %>
              <li><%= user.first_name %></li>
            <% end %>
            </ul>
        </div>
        <div class="col-4">
          <div class="italic mx-3">Active ballots:</div>  
          <ul>
            <% @group.ballots.each do |ballot| %>
              <% if ballot.active %>
                <li>
                  <%= link_to group_voting_path(group_id: params[:id], id: ballot.id) do %>
                    <%= ballot.title %>
                  <% end %>
                </li>
              <% end %>  
            <% end %>
          </ul>
        </div>
        <div class="col-4">
          <div class="italic mx-3" >Active ratings:</div> 
            <ul>
            <% @group.ratings.each do |rating| %>
              <% if rating.active %>
                <li>
                  <%= link_to group_voting_path(group_id: params[:id], id: rating.id) do %>
                    <%= rating.title %>
                  <% end %>
                </li>
              <% end %>  
            <% end %>
            </ul>
        </div>
    </div>
  </div>
</div>
