<%= simple_form_for @voting, as: :voting, url: group_votings_path do |f| %>
  <%= f.hidden_field :type, value: "Ballot" %>
  <%= f.hidden_field :active, value: true %>
  <%= f.hidden_field :author_id, value: current_user.id %>
  <div class="mb-3">
    <%= f.input :title %>
  </div> 
  <div class="mb-3">
    <%= f.input :question, as: :text, input_html: { rows: 3 , :style => 'width: 100%'} %>
  </div> 
  <div class="row">
    <div class="mb-3 col">
      <%= f.input :start_date, as: :date, html5: true %>
    </div>
    <div class="mb-3 col">
      <%= f.input :stop_date, as: :date, html5: true %>
    </div>
  </div> 
  <h4 class="text-center mt-2">Response options</h4>
    <%= f.simple_fields_for :options do |opt| %>
      <%= render 'option_fields', f: opt %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association f, :options, class: "btn btn-sm btn-info" do %>
        <i class="fas fa-plus"></i>&nbsp;&nbsp;<%= "Add option" %>
      <% end %>
    </div>        
  <div class="mb-2 mt-3 text-center">
    <%= f.button :submit, "Create ballot", class: 'btn btn-lg mb-3 btn-primary btn-floating' %>
  </div> 
<% end %>
