<div class="container-fluid centered bg-img">
  <div class="card shadow-sm p-3 pb-0" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Create a new ballot</h5>
        <%= simple_form_for @ballot, as: :voting, url: group_votings_path do |f| %>
          <%= f.hidden_field :type, value: "Ballot" %>
          <%= f.hidden_field :active, value: true %>
          <%= f.hidden_field :author_id, value: current_user.id %>
          <div class="mb-3">
            <%= f.input :name %>
          </div> 
          <div class="mb-3">
            <%= f.input :question, as: :text, input_html: { rows: 3 , :style => 'width: 100%'} %>
          </div> 
          <div class="row">
            <div class="mb-3 col">
                <%= f.input :start_date, as: :date, html5: true %>
            </div>
            <div class="mb-3 col">
              <%= f.input :stop_date, as: :date, html5: true %>
            </div>
          </div>  
          <div class="mb-3 mt-2 text-center">
            <%= f.button :submit, "Create ballot", class: 'btn btn-lg btn-primary btn-floating' %>
          </div> 
        <% end %>
    </div>
  </div>
<div>
