<div class="container-fluid centered bg-img admin"> 
  <div class="card shadow-sm p-3 pb-0" style="width: 24rem;">

    <div class="card-body">
      <h5 class="card-title text-center">Add new user</h5>
        <%= simple_form_for @user, as: :user, url: admin_users_path do |f| %>
          <div class="mb-3">
            <%= f.input :first_name %>
          </div> 
          <div class="mb-3">
            <%= f.input :last_name %>
          </div> 
          <div class="mb-3">
            <%= f.input :email %>
          </div> 
          <div class="mb-3">
            <%= f.input :password %>
          </div>
          <div class="mb-3">
            <%= f.input :type, as: :select, class: 'form-select form-control', selected: 'User', 
                collection: ['Admin', 'User'] %>
          </div> 
          <div class="mb-3 spread">
            <%= f.button :submit, "Add User", class: 'btn btn-primary btn-floating' %>
            <%= f.button :submit, "< Back", formaction: admin_users_url, formmethod: "get",
                class: 'btn btn-sm btn-outline-secondary btn-floating' %>
          </div> 
        <% end %>
    </div>
  </div>
<div>
